* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainWrapper{
    background-color: #880015 ;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainWrapperChildOneANdThree {
    background-color: #7F7F7F;
    height: 500px ;
     /* width: 30%; */
     width: 30%;
}

.mainWrapperChildTwo {
    background-color: #7092BE;
    height: 500px ;
    width: 30%;
}

.grandChildOne {
    width: 100%;
    height:50%;
    /* background-color: #FF7F27; */
    margin-bottom: 4%;

}

.grandChildTwo {
    width: 100%;
    height:50%;
    background-color: white;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
}

.grandParent {
    padding: 2% ;
}
.image {
    height: 100%;
    width: 100%;
}