@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

.headerMainWrap {
    background-color: #7496BA;
    text-align: center;
}

.headerPart {
    background-color: #444444;
    color: #fff;
}

.sectionOneContentPartWrap {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 80%;
    text-align:justify;
    background-image: url("./img/4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.sectionTwoContentPartWrap {
    font-family: 'Otomanopee One', sans-serif;
    font-size: 80%;
    text-align:justify;
    background-image: url("./img/3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.sectionThreeContentPartWrap {
     font-family: 'Otomanopee One', sans-serif;
    text-align:justify;
    background-image: url("./img/15.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-size: 80%;
}
.common {
    text-align: center;
    margin: 0 auto;
}

.sectionHeader{
    background-color: #4C8BF4;
}

.secThreeWrapMain {
    height: 250px;
    width:50%;
    overflow: scroll;
    margin: 0 auto;
}