* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainWrapper {
    height: 612px;
    width: 100%;
    background : #7F7F7F;
    border: 5px solid #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* child One part start */

.childOneWrap {
    background : #B97A57 ;
    height: 80%;
    width: 45%;
    padding: 1%;
}


.childOneAndTwoCommon {
    border: 3px solid #861628
}

.childOneUpperSideAndBottomSideCommon {
    background: #FFC90E;
    height: 50%;
    width: 100%;
    border : 3px solid black
}
.childOneUpperSide{
    margin-bottom: 1%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.childOneLeftContent {
    background: #99D9EA
}

.childOneRightContent {
    background: #3F48CC
}
.childOneContentCommon {
    height: 90%;
    width: 45%;
    border: 3px solid #880015;
}
.bottomSideWrap {
    display: flex;
    justify-content:center;
    align-items: center;
}

.childOneBottomSideMiddle {
    height: 90%;
    width: 45%;
    border: 3px solid #000000;
    background: #C3C3C3;
}

/* child Two part start */

.childTwoWrap {
    background : #22B14C ;
    height: 80%;
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.childTwoLeftSide {
    background: #C8BFE7;
    padding: 2%;
}


.childTwoRightSideCommon {
    border: 3px solid #000000;
    height: 90%;
    width: 45%
}
.childTwoLeftUpperSide {
    background: #FF7F27;
    margin-bottom: 2%;
}

.childTwoLeftLowerSide {
    background: #EFE4B0;
}
.childTwoLeftCommonPart {
    width : 100%;
    height: 50%;
    border: 3px solid black;
}

.childTwoRighttSide {
    background: #7092BE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.childTwoRighttSideCenterPartWrap {
    background: #FF7F27;
    border: 3px solid #880015;
    height: 70%;
    width: 60%;
}
