/* background */
/* overflow */
.hello {
    background-image: url(./img/3.jpg);
    background-repeat:no-repeat;
    background-size: width height;
    color: white;
    background-attachment;
    background: green;
    color: black;
    height: 250px;
    width: 250px;
    overflow: scroll;
    margin: 0 auto;
}

.bye {
    /* background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: green */
}