*{
    margin: 0;
    padding: 0;
}
.hello {
    color: green;
}
.bold {
    color: #dddddd;
    background: #000;
}
.boldTwo {
    color: black;
    background: yellow
}
.img1 {
    height: 250px;
    width: 250px
}
.img2 {
    height: 150px;
    width: 150px
}
.img3 {
    height: 90px;
    width: 90px
}