* {
    margin: 0;
    padding: 0;
}

.div1 {
  height: 250px;
  background: red;
  color: white;
/* width : 25%; */
}

.div2 {
  height: 250px;
  background: green;
  color: white;
    /* width : 25%; */
}

.div3 {
  height: 250px;

  background: blue;
  color: white;
}

.divParent {
    display: flex;
    justify-content:center; 
    align-items:center;
    height: 615px;
    background: burlywood
}
.grnadChildOne {
     height: 250px;
  background: black;
  color: white;
    width : 25%;
}
.grnadChildTwo {
     height: 250px;
  background: seagreen;
  color: white;
    width : 25%;
}