* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
    display: flex;
        
        flex-flow: row wrap;

}
.childOne {
  background-color: #5d8ac2;
  flex-basis: 500px;

}

.childTwo {
  background-color: #e27178;
    flex-basis: 500px

}
.childThree {
  background-color: #ffcb62;
 flex-basis: 500px;
  
}
