* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* display flex part */

/* body {
    color: white
}

.parent {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
/* flex-flow: row wrap;
} */

/* .childOne{
    background-color: #22A5F1;
    padding: 10px;
    flex-basis: 300px;
}

.childTwo{
    background-color: green;
    padding: 10px;
    flex-basis: 300px;
}

.childThree{
    background-color: #22A5F1;
    padding: 10px;
    flex-basis: 300px;
} */

/* position part start  absolute relative */
/* body {
    height:100vh;
    width:100%;
    background-color: #73767B;
}
.parent {
    background-color: aqua;
    width: 650px;
    height: 510px;
    position: relative;
}

.childOne {
    background-color: #F25022;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
}
.childTwo {
    background-color: #FFCA28;
    height: 350px;
    width: 350px;
} */

/* position fixed part */
.parent {
  background-color: aqua;
  width: 100%;
  height: 600px;
}
.childOne {
  background-color: #f25022;
  height: 350px;
  width: 350px;
}
.parentTwo {
  background-color: rgb(26, 29, 29);
  width: 100%;
  height: 514px;
}
