/* *{
    margin: 0;
    padding: 0;
} */
/* .divOne {
    height: 250px;
    width: 250px;
    background: green;
    color: white;
    overflow: hidden;
}

.divTwo {
    height: 250px;
    width: 250px;
    background: red;
    color: white;
    overflow: hidden;
}
.wrapDiv {
    background: black
}
.paraOne {
    background : blue
}
.paraTwo {
    background : salmon
} */

.tableRow {
    border: 2px solid black;
}